body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif

}
#wrap{
    width: 960px;
    margin: 0 auto;
    padding: 16px;
    border: 0 auto;

    background: #e3e3e3
}
#header h1{
    padding: 30px 40px;

}
#header {
        margin: 0 auto; 
        border: lpx solid #ccc;
        width: 420px; 
        margin-top: 40px; 
        padding: 14px ;
} 

section{
    display: flex;
    flex-direction: row;
}
aside{
    height: 10vh;
    background-color:white;
    width: 10vw;
}








